<div id='boxTop'>
    <h1> {{title}}
        <span style='float:right;'>
            {{#each controlButtons}}
            <button id='{{id}}' class='addit'> 
                {{text}}
            </button>
            {{/each}}
        </span>
    </h1>

    <div id='boxContent'>
    </div>
</div>