@import "common.less";

.view-activity-info {
  width: 40%;
  display: inline-block;

  vertical-align: top;

  div {
    margin-bottom: 10px;
  }

  .category {
    display: inline-block;
    margin-left: 2px;
  }
}

#viewActivityMap {
  width: 57%;
  height: 400px;
  display: inline-block;
  margin-right: 2px;
}