.addit {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #ffab07;
  padding: 3px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-size: 50%;
}
.addit.big {
  font-size: 100%;
}
.addit.wide {
  padding: 4px;
}
.header {
  white-space: nowrap;
  padding-left: 10px;
  background: #ffab07;
  padding-top: 10px;
}
.header #eventName {
  font-size: 260%;
  text-transform: lowercase;
  font-family: Arial, times, Times New Roman, times-roman, georgia, serif;
  line-height: 40px;
  font-weight: 100;
  margin-right: 5%;
  vertical-align: bottom;
  color: white;
}
.header .missionbuttons {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #0000ce;
  padding: 3px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 150%;
  vertical-align: bottom;
}
.header a {
  float: right;
  vertical-align: bottom;
  font-size: 130%;
  margin-right: 40px;
  margin-top: 10px;
}
