.addit {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #ee7326;
  padding: 3px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-size: 50%;
}
.addit:hover {
  background-color: #e86512;
}
.addit:active {
  background-color: #d15a10;
}
.addit.big {
  font-size: 100%;
}
.addit.wide {
  padding: 4px;
}
.sectiontitle {
  font-size: 135%;
  color: #ee7326;
  font-weight: bold;
}
.header {
  white-space: nowrap;
  padding-left: 10px;
  background: #ee7326;
  padding-top: 0px;
  height: 40px;
}
.header div {
  display: inline-block;
}
.header #eventName {
  font-size: 260%;
  text-transform: lowercase;
  font-family: Arial, times, Times New Roman, times-roman, georgia, serif;
  line-height: 40px;
  font-weight: 100;
  margin-right: 5%;
  vertical-align: bottom;
  color: white;
}
.header .missionbuttons {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #0000ce;
  padding: 3px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 120%;
  vertical-align: bottom;
}
.header .missionbuttons:hover {
  background-color: #0000b5;
}
.header .missionbuttons:active {
  background-color: #00009b;
}
.header a {
  float: right;
  vertical-align: bottom;
  font-size: 130%;
  margin-right: 40px;
  margin-top: 10px;
}
