.addit {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #00ce00;
  padding: 3px 5px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-size: 50%;
}
.addit:hover {
  background-color: #00b500;
}
.addit:active {
  background-color: #009b00;
}
.addit.big {
  font-size: 100%;
}
.addit.wide {
  padding: 4px;
}
.sectiontitle {
  font-size: 135%;
  color: #00ce00;
  font-weight: bold;
}
.header {
  white-space: nowrap;
  padding-left: 10px;
  background: #00ce00;
  padding-top: 0px;
  height: 40px;
}
.header div {
  display: inline-block;
}
.header #eventName {
  font-size: 260%;
  text-transform: lowercase;
  font-family: Arial, times, Times New Roman, times-roman, georgia, serif;
  line-height: 40px;
  font-weight: bold;
  margin-right: 10px;
  color: whitesmoke;
}
.header .missionbuttons {
  border: 1px outset;
  border-color: #000000;
  color: #000000;
  background-color: #caf1f3;
  padding: 3px 5px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 6px;
  font-size: 120%;
  vertical-align: bottom;
  text-decoration: none;
}
.header .missionbuttons:hover {
  background-color: #b5ecee;
}
.header .missionbuttons:active {
  background-color: #a0e6ea;
}
