@import "common.less";

@traveltime-color: rgb(3,209,92);

.itinerary-view {
  background: white;
  width: 30%;
  font-size: 1em;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  padding: 10px;
  float: left;
  position: relative;

  .sectiontitle {
    height: 25px;
  }

  #travelTimeBox {
    position: absolute;
    top: 11px;
    left: 229px;
    width: 20px;
    height: 20px;
    background-color: @traveltime-color;
  }

  #travelTimeText {
    position: absolute;
    top: 9px;
    left: 229px;
    font-size: 70%;
    color: @Hue-02;
    margin-left: 25px;
    margin-top: 3px;
  }

  .calendar-wrapper {
    overflow: auto;
    margin-top: 5px;
    height: 538px;

    #calendar {
      width: 330px;
    }

    .fc-view-agendaDay .fc-today {
       background: @Hue-08;
    }

    .fc-header {
      display: none;
    }

    .fc-first {
      th {
        border-top: none;
        border-left: none;
        border-right: none;
      }

      .fc-col0.fc-widget-header {
        color: @Hue-01;
        padding-right: 40px;
      }
    }

    .fc-event-head {
      background-color: #BBB !important;
    }

    .fc-event-time {
      font-size: 12px;
      display: inline;
      float: left;
    }

    .fc-agenda-axis {
      width: 40px;
    }

    .event-close {
      float: right;
      font-size: 20px;
      height: 20px;
      margin-top: -5px;
      margin-right: 2px;

      &:hover {
        color: red;
      }
    }
  }
}