@import "common.less";

#tabcontainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#tabcontainer li {
  float: left;
  border: 1px solid #bbb;
  border-bottom-width: 0;
  margin: 0;
}
#tabcontainer a {
  text-decoration: none;
  display: block;
  background: white;
  padding: 0.24em 1em;
  color: #7F7F7F;
  width: 8em;
  text-align: center;
}
.tabactbut {
  background: @Hue-01;
  border: 1px outset @Hue-01;
  color: white;
  font-size: 90%;
  margin-top: 5px;
  margin-bottom:5px;
}
#tabcontainer a:hover {
  background: white;
}
#tabcontainer .selected {
  border-color: #7F7F7F
}
#tabcontainer .selected a {
  position: relative;
  top: 1px;
  background: white;
  color: black;
}
#content {
  border: 1px solid #7F7F7F;
  clear: both;
  padding: 10px;
}

#left2 {
  position:absolute;
  left:0;
  top:52px;
  bottom:35px;
  width:40%;
  font-size:1em;
  z-index:4;
  overflow:hidden;
}

* html #left2 {
  height:100%;
  top:0;
  bottom:0;
}

#left2 {
  left:30%;
  background: white;
}
.inner {
  display:block;
  padding:0 10px 10px 10px;
}
.bold {
  font-size:1.5em;
  font-weight:bold;
}
a:link {
  color: #0000CE;
  text-decoration: underline;
}
a:active {
  color: #0000CE;
  text-decoration: underline;
}
a:visited {
  color: #0000CE;
  text-decoration: underline;
}
a:hover {
  color: #0000CE;
  text-decoration: underline;
}
a.tagrowitem {
  margin-right:10px;
  color: #0000CE;
  text-decoration: none;
  float:left;
}
a.tagstreamitem {
  margin-right:10px;
  color: #0000CE;
  text-decoration: none;
  float:left;
}
a.tagstreamitem:hover {
  text-decoration: underline;
}
a.tagrowitem:hover {
  text-decoration: underline;
}
.ui-icon {
  list-style: none outside none;
  margin: 0px;
  width: 10px;
}

.pinpos {
  background: url('../img/wp.gif');
  background-position:top center;
  background-repeat:no-repeat;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  color: white;
  width:25px;
  height:26px;
  font-size: 82%;
}
.sspinpos {
  background: url('../img/wp.gif');
  background-position:top center;
  background-repeat:no-repeat;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  color: white;
  width:25px;
  height:26px;
  font-size: 85%;
}

#viewNoteTable td {
  vertical-align: baseline;
}
#viewActivityTable td {
  vertical-align: baseline;
}
#viewActivityTable td.vlabel {
  width:120px;
}

/* Style for overlay and box */

.addactheader {
  white-space:no-wrap;
}

div.row {
  clear: both;
  padding-top: 5px;
}
div.row span.label {
  float: left;
  width: 20%;
  text-align: right;
}
div.spacer {
  clear: both;
}
div.row span.formw {
  width: 70%;
  text-align: left;
  float: right;
}

.planning-body {
  position: relative;
  font-size: 1em;
  z-index: 4;
  overflow: hidden;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
}

.crowdcierge-main {
  height: 100%;
  width: 100%;
  max-height:100%;
  overflow:hidden;
  font: 14px Lucida Grande, Arial, sans-serif;
  background-color:white;
}