.addit {
  border: 1px outset;
  border-color: #000000;
  color: #ffffff;
  background-color: #00ce00;
  padding: 3px 5px;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-size: 50%;
}
.addit:hover {
  background-color: #00b500;
}
.addit:active {
  background-color: #009b00;
}
.addit.big {
  font-size: 100%;
}
.addit.wide {
  padding: 4px;
}
.sectiontitle {
  font-size: 135%;
  color: #00ce00;
  font-weight: bold;
}
html,
body {
  height: 650px;
  margin: 0px;
  overflow: hidden;
}
.crowdcierge-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font: 14px Lucida Grande, Arial, sans-serif;
  background-color: white;
}
.planning-body {
  position: relative;
  font-size: 1em;
  z-index: 4;
  overflow: hidden;
  height: 610px;
}
