@import "common.less";

@map-background-color: white;

.map-view {
  background: @map-background-color;
  padding:10px;
  display: inline-block;
  height: 100%;
  width: 35%;

  #map {
    width: 100%;
    height: 550px;
  }
}