@import "common.less";

@map-background-color: white;

.map-view {
  background: @map-background-color;
  padding:10px;
  display: inline-block;
  height: 100%;
  width: 35%;
  float: left;

  .sectiontitle {
    height: 25px;
  }

  #map {
    margin-top: 22px;
    width: 100%;
    height: 520px;
  }

  .start-marker {
    background-image: url('../img/pin-start.png');
  }

  .end-marker {
    background-image: url('../img/pin-end.png');
  }

  .map-popup-title {
    font-weight: bold;
  }

  .map-popup-control {
    display: inline;
    width: 34%;
    .cc-button (white, @Hue-01, black);
    margin: 6px 0px 4px 0px;

    &.view-item {
      float: left;
    }

    &.edit-item {
      float: right;
    }
  }

  .map-popup-activity-control {
    width: 100%;
    text-align: center;
    .cc-button (white, @Hue-01, black);
    display: inline-block;
    box-sizing: border-box;
  }
}


////// LEAFLET ADDON STYLE //////

.leaflet-div-icon {
  background: transparent;
  border: none;
}
 
.leaflet-marker-icon .number{
  position: relative;
  top: -41px;
  font-size: 12px;
  width: 25px;
  text-align: center;
}

.leaflet-control-attribution {
  font-size: 9px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

////// PIN STYLES //////

.sspinpos {
  background: url('http://www.charliecroom.com/marker_hole.png');
  background-position:top center;
  background-repeat:no-repeat;
  vertical-align: top;
  text-align: center;
  color: black;
  width:30px;
  height:45px;
  font-size: 85%;
  padding-top: 5px;
}