@import "common.less";

@stream-background-color: @Hue-08;
@stream-item-color: white;

.ui-autocomplete {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 200px;
  font-size: 12px;

  .ui-state-hover {
    border: none;
  }

  a {
    padding: 3px 5px;
    width: 100%;
    cursor: pointer;
  }

  li {
    width: 100%;
    padding: 3px 5px;
    display: block;
  }
}

.stream-view {
  background: @Hue-08;
  width: 25%;
  padding: 10px;
  height: 100%;
  display: inline-block;
  float: left;

  a.tagrowitem {
    margin-right:10px;
    color: #0000CE;
    text-decoration: none;
    float:left;
  }
  a.tagstreamitem {
    margin-right:10px;
    color: #0000CE;
    text-decoration: none;
    float:left;
  }

  .stream-title {
    height: 25px;
    color: @Hue-02;
    padding: 0px;
  }

  .stream-search {
    height: 32px;

    .clear-filter {
      padding-bottom: 10px;
      color: @Hue-02;
    }

    .tag-container {
      padding: 0px 0px 10px 10px;
    }

    .stream-search-box {
      margin-top: 38px;

      input {
        width: 80%;
      }

      button {
        padding: 2px;
        font-size: 75%;
        width: 16%;
      }
    }
  }

  .stream-item-list {
    border-collapse: collapse;
    overflow: auto;
    display: block;
    height: 80%;

    td {
      padding-left:6px;
      padding-right:6px;
    }

    tr {
      border-bottom: 1px solid gray;
      vertical-align: top;
      cursor:pointer;
    }

    .sidesc {
      padding-left:12px;
    }

    .sitem-text-td {
      width:100%;
    }
  }
}

.stream-item {
  background-color: @stream-item-color;

  &:hover {
    background-color: darken(@stream-item-color, 20%);
  }
}

.stream-item-list tr.check {
  background: yellow;
}

.badge_check {
  background-position:top center;
  background-repeat:no-repeat;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  color: black;
  width:25px;
  height:26px;
  font-size: 2em;
}